.botaoCabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-family: var(--fonte-secundaria);
  font-size: 20px;
  font-weight: 900;
  color: var(--cor-tercearia);

  padding: 4.5px 22.25px;
  cursor: pointer;

  img {
    width: 45px;
    height: 45px;
  }
}

.ativo {
  background: #2271d13d;
  border: 2px solid var(--cor-secundaria);
  border-radius: 50px;

  color: var(--cor-secundaria);

  img {
    width: 30px;
    height: 30px;
  }
}
