:root {
  --fonte-primaria: "Roboto", sans-serif;
  --fonte-secundaria: "Source Sans 3", sans-serif;

  --cor-primaria: #262626;
  --cor-secundaria: #2271d1;
  --cor-tercearia: #ffffff;

  --cor-fonte: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-primaria);
  font-weight: 300;
  color: var(--cor-fonte);
  background-color: var(--cor-primaria);

  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
